Source: udpxy
Section: net
Priority: optional
Maintainer: Valery Tschopp <valery.tschopp@gmail.com>
Build-Depends: debhelper (>= 9.20160709)
Standards-Version: 3.9.6
Homepage: http://www.udpxy.com/
#Vcs-Git: git://anonscm.debian.org/collab-maint/udpxy-1.0.23.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/udpxy-1.0.23.git;a=summary

Package: udpxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UDP multicast to TCP (HTTP) relay proxy
 udpxy ('you-dee-pixie') is a data stream relay: it reads data 
 streams from a multicast groups and forwards the data to the 
 requesting clients (subscribers).
 udpxy is designed to serve a small number of clients and is
 best suited for home usage.
